{{#if (eq type "channel_topic")}}
    {{~#if is_empty_string_topic~}}
    channel {{channel}} > <span class="empty-topic-display">{{topic_display_name}}</span>
    {{~else~}}
    channel {{channel}} > {{topic_display_name}}
    {{~/if~}}
{{else if (eq type "invalid_has")}}
    {{~!-- squash whitespace --~}}
    invalid {{operand}} operand for has operator
    {{~!-- squash whitespace --~}}
{{else if (eq type "prefix_for_operator")}}
    {{~#if is_empty_string_topic~}}
    {{prefix_for_operator}} <span class="empty-topic-display">{{operand}}</span>
    {{~ else ~}}
    {{prefix_for_operator}} {{operand}}{{#if (or (eq operand "link") (eq operand "image") (eq operand "attachment") (eq operand "reaction"))}}s{{/if}}
    {{~/if~}}
{{else if (eq type "user_pill")}}
    {{~!-- squash whitespace --~}}
    {{operator}}
    {{~#each users}}
        {{#if this.valid_user}}
            {{> user_pill .}}
        {{else}}
            {{operand}}
        {{/if}}
    {{~/each~}}
    {{~!-- squash whitespace --~}}
{{else if (eq type "is_operator")}}
    {{#if (eq operand "mentioned")}}
        {{~!-- squash whitespace --~}}
        {{verb}}@-mentions
        {{~!-- squash whitespace --~}}
    {{else if (or (eq operand "starred") (eq operand "alerted") (eq operand "unread"))}}
        {{~!-- squash whitespace --~}}
        {{verb}}{{operand}} messages
        {{~!-- squash whitespace --~}}
    {{else if (or (eq operand "dm") (eq operand "private"))}}
        {{~!-- squash whitespace --~}}
        {{verb}}direct messages
        {{~!-- squash whitespace --~}}
    {{else if (eq operand "resolved")}}
        {{~!-- squash whitespace --~}}
        {{verb}}resolved topics
        {{~!-- squash whitespace --~}}
    {{else if (eq operand "followed")}}
        {{~!-- squash whitespace --~}}
        {{verb}}followed topics
        {{~!-- squash whitespace --~}}
    {{else if (eq operand "muted")}}
        {{~!-- squash whitespace --~}}
        {{verb}}muted messages
        {{~!-- squash whitespace --~}}
    {{else if (eq operand "unresolved")}}
        {{~!-- squash whitespace --~}}
        {{verb}}unresolved topics
        {{~!-- squash whitespace --~}}
    {{else}}
        {{~!-- squash whitespace --~}}
        invalid {{operand}} operand for is operator
        {{~!-- squash whitespace --~}}
    {{~/if~}}
{{~/if~}}

